<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/events/giga_gen.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>AIVerse 2.0 | GigaGen</title>
    <link rel="icon" type="images/x-icon" href="/Static_images/ailogo.png" />

</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="/Static_images/gg.png"  alt="event-image">
        </div>

        <div class="text-right">
            <h2>GigaGen</h2>
            <p>
                <h3>🎉St. Vincent Pallotti College of Engineering & Technology🎉 AIVerse 2.0
                    Presents</h3><br>
                <h3>🤖GigaGen🤖</h3><br><br>
                📅 Date: 5 oct 2024 <br><br>
                <h3>About The Event</h3>
                GigaGen is one of a kind event in the entirety of Maharashtra, drawing an overwhelming response last year with about 300 enthusiasts. This technically fun event focuses on the innovative use of Generative AI and Prompt Engineering.<br><br>   

                 Event structure:<br>
                 1. Round 1: Comic Generation<br>
                  Participants will create a comic on a given theme using generative AI tools.<br>
                 2. Round 2: Video Generation<br>
                 Participants will be provided with an audio clip and must create a video that syncs perfectly with the audio using generative AI. <br>
                 In addition to the main rounds, there will be a fun challenge open to all the participants, regardless of team affiliation, with an exciting price for the winner.<br><br>

                <h3>Rules: </h3>
                Prompt-based: Participants must use the provided prompts for their comic and video creations. <br>

                AI Tools: Utilize the AI tools provided by the organizers for content generation. <br>

                Timed Rounds: Each round has a specific time limit, with guidelines communicated during the event. <br><br>

                <h3>Registration Charges :</h3>
                Rs. 130/-, 100/- ,50/- For Squad,Duo,Solo respectively.<br>
                💵 With invigorating Cash prizes!<br>
                📄 With Certificate of participation <br><br>
                🛠Workshop for GigaGen 2.0(Generative AI)<br><br>
                🎉WIN amazing Prizes worth Rs.10000/-

                <strong>Don't miss out on this majestic opportunity to be a part of something colossal. Mark your
                    calendars.</strong>
                <br>
                Invite your friends, and get ready to set the stage on fire! 🖋🔥 <br><br>
                For any inquiries, Contact Us: <br>
                <span>📞 Atharva Bamnote (Co-ordinator) -- <a href="tel: 8446318904" style="color:white;">8446318904
                </a></span>
                <span>📞 Om Gawande (Co-coordinator) -- <a href="tel: 8010173681" style="color:white;">8010173681</a></span> <br>
                </p>

        </div>
        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=GigaGen">Register</a>

        </div>

    </div>

</body>

</html>