<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/events/opti_ml.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>AIVerse 2.0 | Opti-ML</title>
    <link rel="icon" type="images/x-icon" href="/Static_images/ailogo.png" />

</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="/Static_images/op.png"  alt="event-image">
        </div>

        <div class="text-right">
            <h2>OptiML</h2>
            <p>
                <h3>St. Vincent Pallotti College Of Engineering & Technology Present AIVerse 2.0</h3> <br>
                <h3>🚀Unleash the Power of AI at OptiML🌟</h3> <br><br>

                <h3>About The Event</h3>

                <span style="text-decoration: underline;">Hands-On Experience :</span> Get ready for an immersive dive into
                The world of machine learning! "optiML" isn't
                just about theory; it's a hands-on experience that will bring your machine learning skills to life. You'll
                build, train, and fine-tune machine learning models—a skill crucial in a world driven by data and AI. You'll
                not only learn to predict outcomes but also understand the 'why' behind them, honing your analytical skills.
                <br>
                <span style="text-decoration: underline;">Real-World Problem Solving :</span> You won't just be tackling
                textbook problems. "optiML" challenges you with a
                real-world dataset, making your solutions impactful and relevant to industry scenarios. <br>
                <span style="text-decoration: underline;">Teamwork and Collaboration :</span> Form a dynamic duo with a
                teammate! "optiML" encourages teamwork, giving you a
                taste of how collaboration fuels innovation in the real world. <br>
                <span style="text-decoration: underline;">Thrilling Competition :</span> Join the excitement of a two-round
                challenge where only the brightest minds emerge
                victorious. Sharpen your skills, tackle challenges, and compete to claim the ultimate machine learning
                glory! <br>
                <span style="text-decoration: underline;">Interactive Workshops :</span> Gain a competitive edge with our
                pre-event workshops. Brush up on machine learning
                essentials and learn tips and tricks from us.
                <br><br>

                🔥 Ignite your curiosity with Mind-Blowing AI Insights <br>
                🎙 Engage in Thought-Provoking Discussions <br>
                🏆 The top 3 winners will be awarded cash prizes, with the total prize pool amounting to Rs. 2500/- <br><br>

                <h3>Event Overview: </h3>
                Our event features two exciting rounds that challenge you are machine learning and coding skills:<br>
                1. Quiz Round:  <br>
                •Participants can take the quiz from anywhere, allowing for maximam flexibility.<br>
                • The top 20 teams with the highest scores will advance to the next round.<br>
                2. Error Detection and Correction Round:<br>
                • In this round, participants must be present on-site.<br>
                • You will be given pre-written code,and your task is to detect and correct errors within it.<br>
                 • The round will last a maximum of 20 minutes.<br><br>

       


                For more details contact: <br>
                <span>📞Vivek Pal (Co-ordinator) -- <a href="tel: 9322354326" style="color:white;">9322354326</a></span>
                <span>📞 Akshata Patil (Co-cordinator) -- <a href="tel:  8999687108 " style="color:white;"> 8446597810 </a></span>
                  </p>
    
            </div>
            <div class="buttons">
                <a href="/explore">Explore more</a>
                <a href="/reg?event=VentureVista.AI">Register</a>
    
            </div>
    
        </div>
    
    </body>
    
    </html>