<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/events/explore.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
      rel="stylesheet"
    />

    <title>AIVerse 2.0 | Explore Event</title>
    <link
      rel="icon"
      type="images/x-icon"
      href="/Static_images/ailogo.png"
    />
  </head>

  <body>
    <div class="heading">
      <h1>Explore</h1>
    </div>

    <div class="main-poster">
      <img
      src = "Static_images/main_poster_event.png"  
      alt="main-poster"
      />
    </div>

    <div class="main-event-div">
      <div class="event" id="uxplore">
        <div class="image">
          <img src="Static_images\ux.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>UXplore</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              2.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🎨UXplore🎨</strong><br />
            <br />

            <h5> "Experience the Evolution of UI/UX Design at UXplore!" </h5>
            Hello Designers,
                  <br>This is your opportunity to showcase your Design skills... </br>
             A UI/UX event focused on enhancing design skills and challenging participants to test their creativity.</br>
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>

      <div class="event event-right" id="gigagen">
        <div class="text-left">
          <h2>GigaGen</h2>
          <p>
            <strong style="font-size: 18px"
              >🎉St. Vincent Pallotti College of Engineering & Technology🎉
              AIVerse 2.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🤖GigaGen🤖</strong><br />
            <br />
            <h5> "Unlock the Power of Visual Storytelling with GigaGen!" </h5>
            Our event revolves around the exciting realm of AI-generated
            content. It offers participants a unique platform to showcase their
            creativity and technical prowess. In the first round, participants
            will dive into comic generation, harnessing the power of AI to craft
            engaging and humorous comics. The second round will challenge
            participants to explore AI-driven video generation, pushing the
            boundaries of multimedia creation. With a total of two rounds, the
            event promises an exhilarating journey through AI creativity.<br />
          </p>
          <a href="/reg" class="reg-btn-left">Register</a>
        </div>

        <div class="image">
          <img src="Static_images/gg.png" alt="event-image" />
        </div>
      </div>

      <div class="event" id="beatbots">
        <div class="image">
          <img src="Static_images/bb.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>BeatBots</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              2.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🎵 BeatBots 🎵</strong><br />
            <br />
            <h5> "Let AI Ignite Your Musical Genius at BeatBots Event!" </h5>
            Join us for an electrifying exploration into the future of music
            creation at BeatBots, an innovative event dedicated to harnessing
            the power of Generative AI in the realm of music composition.
            Prepare to immerse yourself in a captivating experience where
            technology and creativity harmonize to produce mesmerizing beats and
            tunes.<br />
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>
      <div class="event event-right" id="optiml">
        <div class="text-left">
          <h2>OptiML</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College Of Engineering & Technology Present
              AIVerse 2.0</strong
            >
            <br />
            <strong style="font-size: 18px"
              >🚀OptiML🌟</strong
            >
            <br />
            <br />
            <h5> "Unleash the Power of AI at OptiML!" </h5>
            Get ready for an immersive dive into The world of machine learning!
            "optiML" isn't just about theory; it's a hands-on experience that
            will bring your machine learning skills to life. You'll build,
            train, and fine-tune machine learning models—a skill crucial in a
            world driven by data and AI. You'll not only learn to predict
            outcomes but also understand the 'why' behind them, honing your
            analytical skills.<br />
          </p>
          <a href="/reg" class="reg-btn-left">Register</a>
        </div>

        <div class="image">
          <img src="Static_images/op.png" alt="event-image" />
        </div>
      </div>
      <div class="event" id="emperors_conquest">
        <div class="image">
          <img src="Static_images/ec.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>Emperors Conquest</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              2.0 Presents</strong
            >
            <br />
            <strong style="font-size: 18px">🎮Emperors Conquest🎮</strong>
            <br />
            <br />
            <h5> "Conquer the Battlefield and Rule as Emperor" </h5>
            This Year we have introduced BGMI as a non technical and fun event... <br>
            Giving an immersive gaming experience to all the gamers. <br />
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
